.code-snippet {
  position: relative;
}

[data-clipboard-text] {
  position: absolute;
  top: 0;
  right: 0;

  font-size: .9rem;
}

[data-clipboard-text] span {
  --input-height: 1.8rem;
  --btn-radius: 0 6px 0 6px;

  padding-right: .5rem;
  padding-left: .5rem;

  min-width: 0;
}

.code-snippet pre[class*="language-"] {
  padding-right: 100px;
  border-radius: var(--elem-radius);
}

.code-snippet code[class*="language-"],
.code-snippet pre[class*="language-"] {
  font-family: var(--font-code);
}
