.well {
  padding: var(--spacer-2) var(--spacer-half);
  border-radius: var(--elem-radius);
  border: 4px solid rgba(22, 41, 75, 0.03);
  background-color: #FFF;
}

@media (min-width: 768px) {
  .well {
    padding: var(--spacer-2);
  }
}
