.focal-image {
  display: block;
  margin: 0 auto;
  max-width: 380px;
}

.avatar {
  border-radius: 50%;
}

.top-border {
  position: relative;
}

.top-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 1px;
  border-top: var(--card-border);
}

.sep-or {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  margin-right: 1.25ch;
  margin-left: 1.25ch;
  padding: .5em;

  background-color: rgba(25, 37, 63, 0.1);
  border-radius: 50%;
  width: 3.2em;
  height: 3.2em;
  font-size: .9em;
  font-weight: var(--weight-medium);

  color: var(--color1);

}
